<div class="container text-center">
  <%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :image_url%>
  <%= f.submit class: "btn btn-secondary rounded-pill"%>
  <% end %>
</div>
