.film-overview {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.film-title {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

// Home

.home-img{
  height: 250px;
  width: auto;
}

.home-img-add{
  max-height: 450px;
  width: auto;
}

.home-text{
  align-self: center;
}

.foot-icon{
  font-size: 2rem;
}

hr{
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
  position: relative;
  border-width: 5px;
  border-color: white transparent;
  height: 11px;
  border-style: double;
  width: 30%;
  margin: 20px auto
}

.logo-home{
  position: absolute;
  top: 2%;
  left: 2%;
  align-items: center;
  img{
    height: 80px;
  }
}

@media screen and (max-width: 992px){
  .home-section{
    text-align: center;
  }
}
